[submodule "dhongu/deltatech"]
	path = dhongu/deltatech
	url = git@github.com:dhongu/deltatech.git
	branch = 15.0

[submodule "dhongu/l10n-romania"]
	path = dhongu/l10n-romania
	url = git@github.com:dhongu/l10n-romania.git
	branch = 15.0

[submodule "OCA/l10n-romania"]
	path = OCA/l10n-romania
	url = git@github.com:OCA/l10n-romania.git
	branch = 15.0

[submodule "terrabit-ro/bitshop"]
	path = terrabit-ro/bitshop
	url = git@github.com:terrabit-ro/bitshop.git
	branch = 15.0

[submodule "dhongu/others_addons"]
	path = dhongu/others_addons
	url = git@github.com:dhongu/others_addons.git
	branch = 15.0

[submodule "terrabit-ro/terrabit"]
	path = terrabit-ro/terrabit
	url = git@github.com:terrabit-ro/terrabit.git
	branch = 15.0

